<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>wranglerView.server.auth.AuthServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/wranglerview/auth</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>submissionServlet</servlet-name>
    <servlet-class>wranglerView.server.jobSubmission.SubmissionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>submissionServlet</servlet-name>
    <url-pattern>/wranglerview/submission</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>templateServlet</servlet-name>
    <servlet-class>wranglerView.server.template.TemplateServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>templateServlet</servlet-name>
    <url-pattern>/wranglerview/template</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>fastQServlet</servlet-name>
    <servlet-class>wranglerView.server.FastQServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>fastQServlet</servlet-name>
    <url-pattern>/wranglerview/fastq</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>qSummaryServlet</servlet-name>
    <servlet-class>wranglerView.server.QueueSummaryServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>qSummaryServlet</servlet-name>
    <url-pattern>/wranglerview/queuesummary</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>jobQueryServlet</servlet-name>
    <servlet-class>wranglerView.server.jobInfo.JobQueryServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jobQueryServlet</servlet-name>
    <url-pattern>/wranglerview/jobquery</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>jobModifyServlet</servlet-name>
    <servlet-class>wranglerView.server.jobInfo.JobModifyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jobModifyServlet</servlet-name>
    <url-pattern>/wranglerview/jobmodify</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WranglerView.html</welcome-file>
  </welcome-file-list>

</web-app>
